/* Google Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: border-box;
}

/* General Style */
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

header {
   padding: 0 1rem;
   position: fixed;
   display: flex;
   z-index: 99;
   width: 100%;
   box-shadow: 0 2px 2px #3a3a3a;
}

header a {
    text-decoration: none;
    color: inherit;
}


/* headings and logo */


h1, h2 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
    border: 5px solid black;
    text-align: center;
}



#logo {
    font-size: 2.5rem;
}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu, #logo {
    line-height: 75px;
}

#menu > li {
    /* list-style-type: none; */
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Navbar dropdown */

nav {
    position: absolute;
    background-color: #fafafa;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}



/* Hero Image */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
}

#hero-image {
    height: 100%;
    background: url('../images/hero-image.jpg') no-repeat center center;
    background-size: 100%;

    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}


/* creates the level of zoom for hero image */
@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

/* club ethos*/

#club-ethos {
    padding: 20px;
}

#left-about {
    padding-top: 30px;
    width: 33%;
    float: left;

}

#right-about {
    padding-top: 30px;
    width: 33%;
    float: right;

}

#center-about {
    padding-top: 30px;
    width: 33%;
    float: right;

}

hr {
    border-top: #3a3a3a;
    width: 100%;
    margin: 5px 0;
}

.left-about-heading {
    width: 60%;
    float: right;
    line-height: 40px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading {
    width: 60%;
    float: left;
    line-height: 40px;
    clear: both;
    margin-bottom: 50px;
    border: none;
}

.right-about-heading h3 {
    text-align: center;
}

.right-about-heading p {
    text-align: right;
}

.left-about-heading h3 {
    text-align: center;
}

.left-about-heading p {
    text-align: left;
}

#welcome {
    margin: 20px 0;
    font-size: 2rem;
}

#circle-container {
    width: 300px;
    height: 300px;
    padding: 10px;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;

}

#circle-cover-bg {
    background: url(../images/ethos-center-image.jpg) no-repeat center center;
    height: 100%;
    background-size: 100%;
    border-radius: 50%;
    background-position-y: bottom;
}

h3 {

    border-bottom: solid;
    font-size: 200%;
    text-align: left;
}

footer {
    height: 6em;
}

.social-networks {
    text-align: center;
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #Bbc34e;
}

/* Internal Links for Tabs */


ol {
    list-style-position: inside;
    padding-bottom: 100%;
    padding: 1%;
}

ol {
    padding: 20px;
}

ol li {
    padding: 5px;
    margin-left: 35px;
}

.crate-subheading {
    font-weight: 500;
    display: inline-block;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

/* Media queries */

/* For larger to medium screens size from 1200px wide and down */
@media screen and (max-width: 1200px) {
    #club-ethos {
        width: 65%;
        height: 1200px;
        margin: 0 auto;
    }

    #welcome {
        padding: 30px 0;
        margin: 0;

    }

    #lef-about,
    #right-about {
        width: 100%;
        float: left;
        padding: 0;
    }

    #center-about {
        clear: both;
        width: 100%;
        float: left;
        padding: 0;
    }

    hr {
        display: none;
    }


}

/* For medium screens sizes from 950px wide and down */
@media screen and (max-width: 950px) {

    /* Sign-up Main content */
    main {
        /* Enlarge main element to push footer down*/
        flex: 1 0 auto;
        /* Add margin at the top to prevent content from being covered by the header */
        margin-top: 47px;
        /* Enable flex properties for child elements */
        display: flex;
        flex-direction: column;
    }

    #menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }

    #club-ethos {
        width: 90%;
        height: 1200px;
        margin: 0 auto;

    }

    .left-about-heading,
    .right-about-heading {
        width: inherit;
    }

    .left-about-heading h3,
    .right-about-heading h3 {
        width: 100%;
        text-align: center;
    }

    .left-about-heading p,
    .right-about-heading p {
        text-align: center;
        padding: 0 20px;
    }


}

/* Image Crate-Train Section */

#crate-train {
    width: 100%;
    overflow: hidden;
    background: #bbc34ea8;
    padding: 20px;
}


/* Form */

#sign-up {
    background-image: url('../images/sign-up-picture.jpg');
    background-size: 100%;
    background-position: center;
    padding: 20px 10% 0 10%;
}

#signup-form {
    color: black;
    background-color: white;
    border-radius: 30px;
    padding: 30px;
}

#signup-form > h2 {
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: #373636;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
    padding: 0 5px;
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px;
    font-size: 100%;
    background-color: #Bbc34e;
    color: #fafafa;
}

/* Media query: tablets and larger (768px and up) */
 @media screen and (min-width: 768px) {
    /* Form */
    #signup {
        background-position: center;
        position: relative;
    }

    #signup-form {
        max-width: 400px;
    }

    .text-input:hover {
        border-color: #f16c6b;
    }

    .join-button:hover {
        background-color: #fafafa;
        color: #454b1b;
    }
}